<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>hola</title>
</h:head>
<h:body>

    <!-- <h:inputText value="#{editBean.userID}"/>
     <h:inputText value="#{editBean.user.name}"/>-->

    <h:dataTable value="#{editBean.getUser()}" var="clientName" border="5">
        <h:column>
            <f:facet name="header">ID</f:facet>
            <h:outputText value="#{clientName.id}"/>
        </h:column>
        <h:column>
            <f:facet name="header">Name</f:facet>
            <h:outputText value="#{clientName.name}"/>
        </h:column>
        <h:column>
            <h:form>
                <h:inputText placeholder="Username" value="#{editBean.name}" required="true"/>
                <h:commandButton action="#{editBean.clientEdit()}" value="editarNombre"></h:commandButton>
            </h:form>

        </h:column>

    </h:dataTable>
</h:body>
</html>
