<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>hola</title>
</h:head>
<h:body>

    <h:dataTable value="#{clientBean.AllClients()}" var="clients" border="5">
        <h:column>
            <f:facet name="header">NAME</f:facet>
            <h:outputText value="#{clients.getName()}"/>
        </h:column>
        <h:column>
            <f:facet name="header">ID</f:facet>
            <h:outputText value="#{clients.id}"/>
        </h:column>
        <h:column>
            <f:facet name="header">Edit</f:facet>
            <h:form>
                <h:commandButton action="#{clientBean.edit(clients.id)}" value="editar"/>
            </h:form>
        </h:column>
        <h:column>
            <f:facet name="header">Remove</f:facet>
            <h:form>
                <h:commandButton action="#{clientBean.erase(clients.id)}" value="borrar"/>
            </h:form>
        </h:column>
    </h:dataTable>
    <h:form>

        <h:commandButton action="#{clientBean.newClient}" value="Crear"/>
    </h:form>
</h:body>
</html>
