<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>newClient</title>
</h:head>
<h:body>
    <h:form>
        <h:inputText placeholder="Username" value="#{joinBean.name}" required="true"/>
        <h:inputText placeholder="UserId" value="#{joinBean.id}" required="true"/>
        <h:commandButton action="#{joinBean.newOne()}" value="Crear"></h:commandButton>
    </h:form>
</h:body>
</html>
